schema/cfgweather.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="cfgweather" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="current">
    <xs:complexType>
      <xs:attribute name="actual" type="xs:float" />
      <xs:attribute name="time" type="xs:int" />
      <xs:attribute name="duration" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="limits">
    <xs:complexType>
      <xs:attribute name="min" type="xs:float" />
      <xs:attribute name="max" type="xs:float" />
    </xs:complexType>
  </xs:element>
  <xs:element name="timelimits">
    <xs:complexType>
      <xs:attribute name="min" type="xs:int" />
      <xs:attribute name="max" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="changelimits">
    <xs:complexType>
      <xs:attribute name="min" type="xs:float" />
      <xs:attribute name="max" type="xs:float" />
    </xs:complexType>
  </xs:element>
  <xs:element name="weather">
    <xs:complexType>
      <xs:all>
        <xs:element name="overcast" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="current" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="limits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="timelimits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="changelimits" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fog" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="current" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="limits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="timelimits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="changelimits" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rain" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="current" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="limits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="timelimits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="changelimits" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="thresholds" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="min" type="xs:float" />
                  <xs:attribute name="max" type="xs:float" />
                  <xs:attribute name="end" type="xs:int" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wind" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="maxspeed" type="xs:int" minOccurs="0" />
              <xs:element name="params" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="min" type="xs:float" />
                  <xs:attribute name="max" type="xs:float" />
                  <xs:attribute name="frequency" type="xs:int" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="storm" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="density" type="xs:float" />
            <xs:attribute name="threshold" type="xs:float" />
            <xs:attribute name="timeout" type="xs:int" />
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="reset" type="xs:boolean" />
      <xs:attribute name="enable" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
</xs:schema>